

/*Genral Styles*/
/*add this to smooth landing*/
html{
    scroll-behavior: smooth;
}

body{
    position: fixed;
    margin: auto;
   
    

}

/*placing the Video pn postion */
#myvideo{
    position: fixed;
    right: 0%;
    bottom: 0%;
    min-height: 100%;
    min-width: 100%;

}
/* the content position*/
.content{
    position: fixed;
    bottom: 0;
    background: rgb(100, 200, rgb(70, 70, 122));
    color :#ffff;
    font-size: 5mm;
    
    

}
a:link , a:visited {
    text-decoration: none;
    background-color: coral;
    color: cornsilk;
    padding: 5px 5px;
    display: inline-block;
    text-align: ;
}
a:hover{
    background-color: chartreuse;

}

ul{
   
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    width: 100px;
    background-color: #f1f1f1

}
li.a{
    display: inline;
    text-indent: 50px;
    padding: 8px 15px;
    text-decoration: none;
    color: wheat;

}
/* chnge color on houvering*/
li a:hover{
    background-color:yellowgreen;
    color:black;

}

h1{
    text-align: center;
    color: tomato;
}
